bam
.bam
config.lua
datasrc/__pycache__
datasrc/cross/__pycache__
datasrc/*.pyc
objs
SDL.dll
freetype.dll
autoexec.cfg

crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds_srv
tileset_border*
versionsrv*

src/generated

# CMake
data
!/data
src
!/src

*.ninja
.ninja*
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
install_manifest.txt

.vscode
